################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SideBarDemo/bin/Debug/net6.0
/.vs/SideBarDemo/v17
